{% extends 'main/base.html' %}


{% block title %}
    Проекты
{% endblock %}

{% load static %}


{% block center %}

            <div class="avatar-project-div under-in-project">
                <img class="avatar-project under-in-project" src="{{ project.avatar_url }}">
            </div>

            <div class="first-main-add-project in-project1">
                <a class="back-to-projects back-in-project" href=" {% url 'project' project.id %} ">
                    <img id="back" src=" {% static 'main/img/Стрелка.png' %} " alt='Назад'>
                </a>


                                <h1> {{ project.name }} </h1>


                <div class="first-main-add-project-left in-under-in-project1">

                </div>



            </div>

            <div class="second-main-add-project in-project2">
                <form method="post">
                    {% csrf_token %}
                    <button id="delete-project-in-delete" type="submit">Удалить проект</button>
                </form>

            </div>


{% endblock %}
